{% extends '__base.html' %} {% block __base %} {% load static %}
<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <h1 class="display-1 mb-4">Results</h1>
    </div>
</div>
<br>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if blogPost|length < 1 %} <h4>Your search -</h4>
                <p class="p-2"><b>{{query | truncatechars:200 |safe}}</b> - did not match any posts.</p>
                <p>Suggestions:</p>
                <ul>
                    <li>
                        <p>Make sure that all words are spelled correctly.</p>
                    </li>
                    <li>
                        <p>Try different keywords.</p>
                    </li>
                    <li>
                        <p>Try more general keywords.</p>
                    </li>
                </ul>
                <img src="https://d2c24hxshwy67t.cloudfront.net/work/5eeea355389655.59822ff824b72.gif">
                {% endif %}
                {% for x in blogPost %}
                <!-- Post preview-->
                <div class="post-preview border-0 shadow-lg p-3 mb-5 bg-white rounded" data-aos="fade-up">
                    <div class="post-img">
                        <img src="{{x.thumbnail}}">
                    </div>
                    <h1 class="post-title mt-2">{{x.title}}</h1>
                    <div class="p">
                        <h6>
                            <span class="badge badge-info">{{x.tag1}}</span>
                            <span class="badge badge-info">{{x.tag2}}</span>
                            <span class="badge badge-info">{{x.tag3}}</span>
                            <span class="badge badge-info">{{x.tag4}}</span>
                            <span class="badge badge-info">{{x.tag5}}</span>
                            <span class="badge badge-info">{{x.tag6}}</span>
                        </h6>
                    </div>
                    <p class="post-subtitle">{{x.content | truncatechars:400 |safe}}</p>
                    <p class="post-meta">
                        Posted by
                        <a href="/about">Rajarshi Samaddar</a>
                        on {{x.timeStamp}}
                    </p>

                    <a class="btn btn-primary" href="/{{x.slug}}">Continue reading</a>
                </div>
                {% endfor %}
                <!-- Pager-->
                <!-- {% if blogPost|length > 0 %}
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                        Posts
                        →</a>
                </div>
                {% endif %} -->

        </div>
    </div>
</div>
{% include 'features.html' %}
{% endblock %}