{% extends '__base.html' %} {% block __base %}
<div class="jumbotron jumbotron-single d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-2 mb-4">Contact Me</h1>
  </div>
</div>
<!-- Contact Form Section -->
<section id="contact-form" class="bg-white">
  <div class="container">
    <div class="section-content">
      <!-- Section Title -->
      <div class="title-wrap" data-aos="fade-up">
        <h2 class="section-title">Get In Touch</h2>
        <p class="section-sub-title">
          {% for x in contactparagraph %}
          <br />
          <br />
          {{ x.paragraph }}
          {% endfor %}
        </p>
      </div>
      <!-- End of Section Title -->
      <div class="row">
        <!-- Contact Form Holder -->
        <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">
          <h2 class="section-title">Drop Me A Message</h2>
          <form name="contact-us" action="message" method="post" onsubmit="check_form()">
            <div class="row">
              <div class="col-md-12 form-group">
                {% csrf_token %}
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required />
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone"
                  required />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="websiteUrl" name="subject" placeholder="Subject" required />
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message . . ."
                  required></textarea>
              </div>
              <div class="col-md-6 form-group">

              </div>
              <div class="col-md-12 form-group">
                <div class="alert alert-warning" role="alert">
                  <h6 class="alert-heading">Before you proceed to the send button, please complete the <span
                      style="font-weight: bold;">CAPTCHA</span> below.
                  </h6>
                  <h2 style="font-weight: bold;" id="question"><span
                      style="text-decoration: line-through;">{{number_one}}</span>
                    {{operation}}
                    <span style="text-decoration: line-through;">{{number_two}}</span>
                  </h2>
                  <input type="number" class="form-control" id="captcha" name="captcha"
                    placeholder="Answer to the above question" required />
                  <div class="form-group form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="robot" name="robot" required>
                    <label class="form-check-label" for="robot">I'm not a robot</label>
                  </div>
                  <div class="d-flex flex-row-reverse">
                    <div class="p-2">
                      <h6>Captcha by <span class="badge badge-info">ignorecrowd.co.in</span></h6>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- End of Contact Form Holder -->
      </div>
    </div>
    {% for x in contactfindme %}
    <div class="section-content pt-0">
      <div class="title-wrap" data-aos="fade-up">
        <h2 class="section-title">Where To Reach Me?</h2>
      </div>
      <div class="row text-center mt-4">
        <div class="col-md-3" data-aos="fade-up">
          <span class="lnr lnr-home fs-40 py-4 d-block"></span>
          <h5>LOCATION</h5>
          <p>{{ x.location }}</p>
        </div>
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
          <span class="lnr lnr-clock fs-40 py-4 d-block"></span>
          <h5>WORKING TIME</h5>
          <p>{{ x.working_time }}</p>
        </div>
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
          <span class="lnr lnr-phone-handset fs-40 py-4 d-block"></span>
          <h5>CALL ME</h5>
          <p>{{ x.call_me }}</p>
        </div>
        <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
          <span class="lnr lnr-envelope fs-40 py-4 d-block"></span>
          <h5>EMAIL</h5>
          <p>{{ x.email }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- End of Contact Form Section -->
{% include 'features.html' %} {% endblock %}