{% extends '__base.html' %} {% block __base %} {% load static %}
<script type="text/javascript">
    function message() {

    }
</script>
<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <h2>500 Captcha verification failed</h2>
        <h3>Try to send the message again</h3>
        <button class="btn btn-primary btn-shadow btn-lg" name="message" onclick="history.back()">
            Send Message Again
        </button>
    </div>
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
        <img src="{% static 'img/obj_triangle.png' %}" alt="" />
    </div>
    <div class="triangle triangle-2">
        <img src="{% static 'img/obj_triangle.png' %}" alt="" />
    </div>
    <div class="triangle triangle-3">
        <img src="{% static 'img/obj_triangle.png' %}" alt="" />
    </div>
    <div class="triangle triangle-4">
        <img src="{% static 'img/obj_triangle.png' %}" alt="" />
    </div>
</div>
{% endblock %}