{% load static %}
<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(img/bg.jpg)">
  <div class="container">
    <div class="section-content" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="mb-2">
            Make a unicorn software or a million of them
          </h2>
          <p>
            I believe the computer was born to solve problems that did not exist
            before.
          </p>

          <div class="d-flex justify-content-center col-md-12">
            <h3 class="mb-12">
              Subscribe to receive newsletter
            </h3>
          </div>
          <div class="d-flex justify-content-center col-md-12">
            <form class="d-flex" action="/subscribe" method="post">
              {% csrf_token %}
              <input class="form-control me-2 mb-6" name="email" id="email" type="email"
                placeholder="Your email address" aria-label="Search">
              <button class="btn btn-outline-primary btn-sm ml-2" type="submit">Subscribe</button>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>