{% extends '__base.html' %} {% block __base %}
{% load static %}
</div>
<div class="jumbotron jumbotron-single d-flex align-items-center">
    <div class="container text-center">
        <h1 class="display-2 mb-4">My Work</h1>
    </div>
</div> <!-- Blog Section -->
<br><br>
<!-- <table border="1">
    {% for x in works %}
    <tr>
    <td>{{ x.type }}</td>
    <td>{{ x.title }}</td>
    <td>{{ x.date }}</td>
    <td>{{ x.description }}</td>
    </tr>
    {% endfor %} -->
</table>
<section id="blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">Latest <b>works</b></h2>
                <p class="section-sub-title">Feel free to check out the source code by clicking on the GitHub icon.</p>
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <div class="row">
                        {% for x in works %}
                        {% spaceless %}
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="single.html"><img src="{% static 'img/'|add:x.file_name %}"></a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <a href="#">
                                            <h6><small>{{ x.type }}</small></h6>
                                        </a>
                                    </div>
                                    <div class="blog-title">
                                        <a href="single.html">
                                            <h4>{{ x.title }}</h4>
                                        </a>
                                    </div>
                                    <div class="blog-meta">
                                        <p class="blog-date">{{ x.startDate }}</p> to
                                        <p class="blog-comment"><a href="">{{ x.endDate }}</a></p>
                                    </div>
                                    <div class="blog-desc">
                                        <p>{{ x.description }}</p>
                                    </div>
                                    <div class="blog-author">
                                        <p>by Rajarshi Samaddar</p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href={{ x.github }} target="_blank">
                                            <i class="fab fa-github-square"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        {% endspaceless %}
                        {% endfor %}
                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End of Blog Section -->
{% include 'features.html' %}
{% endblock %}