{% extends '__base.html' %} {% block __base %}
</div>
<div class="jumbotron jumbotron-single d-flex align-items-center" style="background-image: none">
    <div class="container text-center">
        <h1 class="display-2 mb-4">About Me</h1>
    </div>
</div>
<section id="who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">

            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">Full Stack Developer <br>and<b> Engineer</b></h2>
                <p class="section-sub-title">
                    Hello, I’m Rajarshi Samaddar; a technophilic based in Kolkata City. I’ve spent the last two years in
                    Web Development and Android Development to learn and apply all the new technologies used by today's
                    industries in both the backend and frontend.
                    <br> <br> I have been enrolled in traditional Engineering education, with a B.Tech Honours degree in
                    Computer Science And Engineering from Maulana Abul Kalam Azad University of Technology , India.
                    After spending my first year in Web and Application Development at personal and internship level, I
                    moved to 3D Designing and Game Development, and completed projects in a variety of areas.
                    <br><br>I’m hands-on with projects, and only work on one project at a time, so that means I tend to
                    look for larger, well-defined scopes that run for somewhere between 2—8 weeks. These projects are
                    often creating a new visual identity or website from scratch, or a ground-up redesign if what
                    already exists isn’t working. I’m a generalist by design, well versed in taking the team’s vision
                    and helping turn that into a living breathing entity, from identity through to digital experience.
                </p>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
<section id="skills" class="bg-white">
    <div class="container">
        <h3 class="mb-4">Skills</h3>
        <div class="section-content pt-0">

            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>WEB DESIGN</p>
                            <p class="text-muted">75%</p>
                        </div>
                        <div class="progress" data-percent="90%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>PYTHON</p>
                            <p class="text-muted">87%</p>
                        </div>
                        <div class="progress" data-percent="85%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>JAVA</p>
                            <p class="text-muted">90%</p>
                        </div>
                        <div class="progress" data-percent="73%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Express - Node JS</p>
                            <p class="text-muted">75%</p>
                        </div>
                        <div class="progress" data-percent="55%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>data structures and algorithms</p>
                            <p class="text-muted">80%</p>
                        </div>
                        <div class="progress" data-percent="80%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>DEVOPS</p>
                            <p class="text-muted">55%</p>
                        </div>
                        <div class="progress" data-percent="60%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Adobe Photoshop</p>
                            <p class="text-muted">75%</p>
                        </div>
                        <div class="progress" data-percent="55%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Django</p>
                            <p class="text-muted">75%</p>
                        </div>
                        <div class="progress" data-percent="55%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                </div>
            </div>
        </div>
    </div>
    <hr><br>
    <div class="row text-center">
        {% for x in about %}
        {% spaceless %}
        <div class="col-md-4 col-sm-6" data-aos="fade-up">
            <h5 class="mb-4">{{ x.title }}</h5>
            <p>{{ x.description }}</p>
            <p><a class="btn btn-link" href="#" role="button">View details</a></p>
        </div>
        <!-- /.col-md-4 col-sm-6  -->
        {% endspaceless %}
        {% endfor %}
    </div>
</section>
{% include 'features.html' %}
{% endblock %}