{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Rajarshi Samaddar</title>
  <meta name="author" content="Rajarshi Samaddar">
  <meta name="keywords"
    content="Rajarshi, rajarshi, Rajarshi Samaddar, rajarshi Samaddar, ignorecrowd, Ignorecrowd, ignorecrowd.co.in">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/lightcase/lightcase.css' %}" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar" class="static-layout">
  <nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center text-white" href="/">
        <h3 class="font-weight-bolder mb-0">ignorecrowd.co.in</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
        aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-nav-header">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% static 'resume/Resume.pdf' %}" download="Resume" target="_blank">Resume
              <span><i class="fa fa-download fa-xs" aria-hidden="true"></i></span></a>
          </li>
          <li class="nav-item only-desktop">
            <a class="nav-link" id="side-nav-open" href="#">
              <span class="lnr lnr-menu"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="side-nav" class="sidenav">
    <a href="javascript:void(0)" id="side-nav-close">&times;</a>

    <div class="sidenav-content">
      <h2>Rajarshi Samaddar</h2>
      <p>Helencha 1No. Colony, 24-Pgs(N), WB - 743270, India</p>
      <p>ignorecrowd@gmail.com</p>
      <h5>Dev Tools I Often Use</h5>
      <p>VS Code / IntelliJ IDEA / PowerShell / Postman / GitHub / Firefox / PyCharm / Spyder / Jira / Adobe XD /
        Android Studio / Sublime Text / MySQL Workbench</p>
      <h5>Tech Stack Used Here</h5>
      <p>Django 4.0.4 / AWS EC2 / AWS RDS / AWS VPC / Nginx / Ubuntu 22</p>
    </div>
  </div>
  <div id="side-search" class="sidenav">
    <a href="javascript:void(0)" id="side-search-close">&times;</a>
    <div class="sidenav-content">
      <form action="">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text red lighten-3" id="basic-text1">
              <span class="lnr lnr-magnifier"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% block __base %} {% endblock %}
  </section>
  <footer class="mastfoot my-3">
    <div class="inner container">
      <div class="row">
        <div class="col-lg-4 col-md-12 d-flex align-items-center"></div>
        <div class="col-lg-4 col-md-12 d-flex align-items-center">
          <p class="mx-auto text-center mb-0">
            Engineered by
            <a href="/about">Rajarshi Samaddar</a>.<br>
            <span>&copy; 2020-2022, ignorecrowd.co.in, Inc</span><br>
            <span>License provider - Eclipse Public License - v 2.0</span>
          </p>
        </div>

        <div class="col-lg-3 col-md-12">
          <nav class="nav nav-mastfoot justify-content-center">
            <a class="nav-link" href="https://www.github.com/ignorecrowd" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a class="nav-link" href="https://www.linkedin.com/in/rajarshisamaddar/" target="_blank">
              <i class="fab fa-linkedin"></i>
              <a class="nav-link" href="https://stackoverflow.com/users/19014885/rajarshi-samaddar" target="_blank">
                <i class="fab fa-stack-overflow"></i>
              </a>
              <a class="nav-link" href="https://www.codechef.com/users/ignorecrowd" target="_blank">
                <i class="fas fa-code"></i>
              </a>
              <a class="nav-link" href="https://telegram.me/ignorecrowd" target="_blank">
                <i class="fab fa-telegram"></i>
              </a>
              <a class="nav-link" href="https://wa.me/916295611536" target="_blank">
                <i class="fab fa-whatsapp-square"></i>
              </a>
              <br>

              <a class="nav-link" href="mailto:ignorecrowd@gmail.com" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
              <a class="nav-link" href="https://www.messenger.com/t/ignorecrowd" target="_blank">
                <i class="fab fa-facebook-messenger"></i>
              </a>
              <a class="nav-link" href="https://twitter.com/ignorecrowd" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="nav-link" href="https://www.instagram.com/ignorecrowd/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>

            </a>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  <!-- External JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
  <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
  <script src="{% static 'vendor/lightcase/lightcase.js' %}"></script>
  <script src="{% static 'vendor/waypoints/waypoint.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Main JS -->
  <script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>